


body {
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows:
    100px
    200px
    100px;
  grid-template-areas:
    "nav nav"
    "section section"
    "footer footer"
}




h1, h2, h4, h5, p {
  font-family: Open Sans Condensed;
  font-weight: 300;
}


#logo {
  margin-left: 20px;
}

nav {
  display: inline-block;
  font-size: large;
} 


.barra {
  display: inline;
  flex-direction: row;
  justify-content: end;
}

ul {
  flex-direction: row;
  display: inline-block;
  justify-content: right;
  justify-content: flex-end;
  position: absolute;
  font-family: Open Sans Condensed;
  font-weight: 300;
  padding-top: 10px;
  padding-left: 50px;
}

ul li {
  color: white;
  display: inline-block;
  margin-right: 8px;
}

ul li:hover {
  color: rgb(255, 163, 77);
}

#menu {
  grid-area: nav;
  height: 100px;
  background-color: black;
  opacity: 50%;
  box-shadow: -3px 10px 12px -6px #000000;
}

.select {
  width: 90px;
  border-radius: 20px;
  border: none;
  outline: none;
  box-shadow: 1px 6px 5px -6px #000000;
  padding-top: 8px;
  background-color: rgb(216, 216, 216);
  border: none;
}

.select:focus {
  outline: none;
}

#redes {
  display: inline;
  flex-direction: row;
  justify-content: end;

}

section {
  grid-area: section;
  background-color: white;
  text-align: center;
  margin-top: 25px;
}

.iconify {
  color: white;
}



#carrito-oculto {
  width: 60px;
  height: 60px;
  background-color: gray;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: right;

}

#carrito-visible {
  width: 400px;
  height: 230px;
  background-color: gray;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

#lista-productos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  margin-top: 80px;
}

table {
  display: flex;
  justify-content: center;
}

th {
  padding-right: 20px;
  color: white;
  padding-bottom: 20px;
  padding-top: 35px;
}

footer {
  grid-area: footer;

  
}

@media (max-width: 767px) {
  #lista-productos {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    grid-template-columns: auto  100px;
    grid-template-rows: 
      100px
      1fr
      100px;
    grid-template-areas:
    "nav nav"
    "section section"
    "footer footer"
  }

  #lista-productos {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  #lista-productos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}



@media (min-width: 1024px) {
  body {
    grid-template-columns: auto 100px;
    grid-template-rows: 
    100px
    auto
    200px;
    grid-template-areas:
    "nav nav"
    "section section"
    "footer footer"
  }

}
